.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
  
.formulario {
    flex: 1; /* Ocupa o espaço restante */
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.filtros {
    flex: 1; /* Ocupa o espaço restante */
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.formulario .form-control,
.formulario select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
  
.formulario .btn-primary {
    padding: 10px 20px;
}

.filtros .form-control,
.filtros select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.filtros .btn-secondary {
    padding: 8px 15px;
    background-color: #ccc;
    border: none;
    border-radius: 4px;
}

.separador {
    text-align: center;
    background-color: #f2f2f2; 
    padding: 10px; 
    border-top: 2px solid #ccc; 
    border-bottom: 2px solid #ccc; 
  }
  
  .separador p {
    font-size: 18px;
    margin-top: 15px;
    color: #333;
    font-weight: bold;   
}