aside.menu-area {
    background: var(--bg-white);
}

.menu a {
    display: block;
    text-decoration: none;
    color: #000;
    font-weight: 400;
    padding: 15px;
}

.menu a:hover {
    background: linear-gradient(135deg, #fd0303 0%, #000000 100%);
    font-weight: 600;
    color: #fff;
}