/* Estilize o container principal */
.container-financ {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
  }
  
  /* Estilize o separador */
  .separador-financ {
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  
  /* Estilize os títulos e subtítulos */
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Estilize os parágrafos de informações */
  p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  /* Estilize o ícone na parte superior */
  .icon {
    font-size: 32px;
    margin-right: 10px;
  }
  
  /* Estilize o título principal */
  .title {
    font-size: 26px;
    margin-bottom: 25px;
  }

  /* Estilizando o campo de entrada de data */
input[type="date"] {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px; /* Ajuste o tamanho conforme necessário */
}

/* Adicionando margem à direita para separar os campos de data */
input[type="date"] + input[type="date"] {
  margin-left: 10px;
}

  